/* ===================================
   FOOTER
   =================================== */
.footer {
	background-color: var(--gray-lighter);
	padding: var(--space-53) 0 var(--space-90);
	margin-top: var(--space-75);
}

.footer__top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0;
	margin-bottom: var(--space-60);
}

.footer__left {
	display: flex;
	flex-direction: column;
}

.footer__phone {
	font-family: var(--font3);
	font-size: var(--h4-size);
	font-weight: 500;
	color: var(--graphite);
	display: inline-block;
	margin-bottom: var(--space-24);
	transition: color 0.4s;
	width: fit-content;
}

.footer__phone:hover {
	color: var(--copper);
}

.footer__socials {
	display: flex;
	gap: var(--space-26);
	margin-bottom: var(--space-70);
}

.footer__socials a {
	font-size: var(--body-base-size);
	font-weight: 400;
	color: var(--graphite);
	transition: color 0.4s;
}

.footer__socials a:hover {
	color: var(--copper);
}

.footer__disclaimer {
	color: var(--graphite);
	opacity: 0.4;
	max-width: 17rem;
}

.footer__newsletter-title {
	font-family: var(--font3);
	font-size: var(--h4-size);
	font-weight: 500;
	color: var(--graphite);
	margin-bottom: var(--space-15);
	text-transform: uppercase;
}

.footer__newsletter-desc {
	color: var(--graphite);
	max-width: 18.5rem;
	margin-bottom: var(--space-40);
}

.footer__newsletter-form {
	display: flex;
	gap: var(--space-6);
	margin-bottom: var(--space-16);
	align-items: flex-start;
}

.footer__email-wrap {
	position: relative;
	width: 22.0625rem;
}

.footer__email-input {
	width: 100%;
	height: var(--space-38);
	padding: 0 var(--space-12);
	font-family: var(--font-family);
	font-size: var(--body-base-size);
	font-weight: 400;
	color: var(--graphite);
	background-color: var(--white);
	border: 1px solid var(--gray-dark-line);
	outline: none;
	transition: border-color 0.4s ease;
	border-radius: 0;
	-webkit-appearance: none;
}

.footer__email-input::placeholder {
	color: var(--graphite);
	opacity: 0.4;
}

.footer__email-input:focus {
	border-color: var(--graphite);
}

.footer__email-input.is-valid {
	border-color: var(--green);
	background-color: rgba(87, 170, 66, 0.04);
}

.footer__email-input.is-invalid {
	border-color: var(--red);
}

.footer__email-error {
	position: absolute;
	top: calc(100% + var(--space-3));
	left: 0;
	right: 0;
	font-size: var(--body-base-size);
	font-weight: 400;
	color: var(--red);
	line-height: 120%;
	opacity: 0;
	transform: translateY(var(--space-4));
	transition: opacity 0.4s ease, 0.4s all;
	pointer-events: none;
}

.footer__email-error.visible {
	opacity: 1;
	transform: translateY(0);
}

.footer__email-success {
	position: absolute;
	bottom: calc(100% + var(--space-6));
	left: 0;
	right: 0;
	font-size: 0.6875rem;
	font-weight: 400;
	color: var(--green);
	line-height: 120%;
	opacity: 0;
	transform: translateY(var(--space-4));
	transition: opacity 0.4s ease, 0.4s all;
	pointer-events: none;
}

.footer__email-success.visible {
	opacity: 1;
	transform: translateY(0);
}

.footer__subscribe-btn {
	width: 10.3125rem;
	height: var(--space-38);
	font-family: var(--font-family);
	font-size: var(--body-base-size);
	font-weight: 500;
	color: var(--white);
	background-color: var(--graphite);
	transition: background-color 0.4s;
	flex-shrink: 0;
	text-transform: uppercase;
}

.footer__subscribe-btn:hover svg path {
	fill: #fff;
}

.footer__checkbox {
	display: flex;
	gap: var(--space-10);
	cursor: pointer;
}

.footer__checkbox input {
	display: none;
}

.footer__checkbox-mark {
    width: var(--space-12);
    height: var(--space-12);
    background-color: var(--white);
    border: var(--space-2) solid #ffffff;
    flex-shrink: 0;
    transition: all 0.4s;
    box-shadow: 0px 0px 1px #0000006b;
}

.footer__checkbox input:checked + .footer__checkbox-mark {
	background: #333;
	border: var(--space-3) solid #fff;
}

.footer__checkbox-text {
	color: var(--graphite);
}
.footer__checkbox-text a {
	text-decoration: underline;
}

.footer__checkbox.is-invalid .footer__checkbox-mark {
	border-color: #dc3545;
}

.footer__menus {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0;
	padding-top: var(--space-70);
	border-top: 0.5px solid var(--gray-dark-line);
}

.footer__menus-left {
	display: flex;
	flex-direction: column;
}

.footer__menu-col .footer__links-title,
.footer__menus-title {
	font-size: var(--body-base-size);
	font-weight: 500;
	color: var(--graphite);
	opacity: 0.3;
	margin-bottom: var(--space-40);
	text-transform: uppercase;
	font-family: var(--font-family);
}

.footer__links-title {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	width: 100%;
	text-align: left;
	font-family: inherit;
}

.footer__accordion-icon {
	display: none;
}

.footer__menu-col--info {
	display: none;
}

.footer__info-links {
	display: flex;
	flex-direction: column;
	gap: var(--space-12);
}

.footer__info-link {
	font-size: var(--body-base-size);
	font-weight: 500;
	color: var(--graphite);
	transition: color 0.4s;
	width: fit-content;
}

.footer__info-link:hover {
	color: var(--copper);
}

.footer__menus-right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--space-20);
}

.footer__menu-col a {
	font-size: var(--body-base-size);
	font-weight: 500;
	color: var(--graphite);
	transition: color 0.4s;
}

.footer__menu-col a:hover {
	color: var(--copper);
}

/* ===================================
   FOOTER BANNER
   =================================== */
.footer-banner {
	position: relative;
	height: 23.0625rem;
	overflow: hidden;
}

.footer-banner__bg {
	position: absolute;
	inset: 0;
	background-image: url('../assets/images/footer-banner.jpg');
	background-size: cover;
	background-position: center bottom;
	background-color: #2c2c2c;
}

.footer-banner__bg::after {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.3);
}

.footer-banner__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-21);
}

.footer-banner__logo svg {
	width: 13.625rem;
	height: 0.8125rem;
}

.footer-banner__line {
	width: 2.6875rem;
	height: 0.3125rem;
	background-color: var(--white);
	clip-path: polygon(10% 100%, 0% 0%, 100% 0%, 90% 100%);
}

/* ===================================
   FOOTER BOTTOM
   =================================== */
.footer-bottom {
	background-color: var(--white);
	padding: var(--space-20) 0;
}

.footer-bottom__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--space-14);
}

.footer-bottom__copyright {
	color: var(--graphite);
}

.footer-bottom__dev {
	display: flex;
	align-items: center;
	gap: var(--space-13);
}

.footer-bottom__dev span {
	color: var(--graphite);
	text-align: right;
}

.footer-bottom__dev-logo {
}
.footer-bottom__dev-logo img {
	width: 1.4rem;
	height: auto;
}
/* ===================================
   RESPONSIVE вЂ” FOOTER
   =================================== */
@media (max-width: 992px) {
	.footer__top {
		grid-template-columns: 1fr;
		gap: 70px;
	}

	.footer__menus {
		grid-template-columns: 1fr;
		gap: 50px;
	}

	.footer__menus-right {
		grid-template-columns: repeat(3, 1fr);
	}

	.footer__newsletter-form {
		flex-direction: column;
	}

	.footer__email-wrap {
		width: 100%;
	}

	.footer__subscribe-btn {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.footer__links-col {
		max-width: 100%;
	}

	.footer__menus-right {
		grid-template-columns: 1fr 1fr;
		gap: 0px;
		display: flex;
		flex-direction: column;
	}

	.footer__menu-col {
		border-bottom: 1px solid var(--gray-dark-line);
		padding-bottom: 0;
	}

	.footer__menu-col--info {
		display: block;
	}

	.footer__links-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 0 12px;
		margin-bottom: 0;
	}

	.footer__accordion-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 18px;
		height: 18px;
		background: var(--gray-lighter);
		border-radius: 50%;
		flex-shrink: 0;
		transition: background 0.4s;
	}

	.footer__menus {
		padding-top: 50px;
	}

	.footer__accordion-icon svg {
		transition: transform 0.4s;
	}

	.footer__accordion-icon svg path {
	}

	.footer {
		padding: 50px 0;
		margin-top: 50px;
	}

	.footer__menu-col .footer__links-title,
	.footer__menus-title {
		opacity: 1;
		margin-bottom: 0;
	}

	.footer__menu-col--open .footer__accordion-icon svg {
		transform: rotate(45deg);
	}

	.footer__info-links {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
		opacity: 0;
		padding-bottom: 0;
	}
	.footer-banner__logo {
		min-width: 220px;
	}
	.footer__menu-col--open .footer__info-links {
		max-height: 600px;
		opacity: 1;
		padding-bottom: 20px;
	}

	.footer__email-wrap {
		width: 100%;
	}

	.footer-bottom__inner {
		flex-direction: row;
		gap: 15px;
		text-align: center;
		display: flex;
		align-content: space-around;
	}

	.footer-bottom__copyright {
		font-size: 12px;
	}

	.footer-bottom__dev span {
		display: none;
	}

	.footer-banner {
		height: 375px;
	}

	.footer__left {
		order: 2;
	}

	.footer__newsletter-title {
		font-size: 20px;
	}

	.footer__subscribe-btn,
	.footer__email-input {
		height: 45px;
	}

	.footer__checkbox-mark {
		width: 18px;
		height: 18px;
	}

	.footer__socials a {
		font-size: 14px;
	}

	.footer__socials {
		margin-bottom: 30px;
	}

	.footer__disclaimer {
		font-size: 12px;
	}

	.footer__top {
		gap: 50px;
	}

	.footer__menus-left {
		display: none;
	}
}
