/* ===== LOYALTY BANNERS ===== */
.loyalty-banner {
    position: relative;
    width: 100%;
    min-height: 12.625rem;
    background-size: cover;
    background-position: center;
    padding: var(--space-30);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: var(--space-6);
    justify-content: space-between;
}

.loyalty-banner--first {
    background-size: cover;
    background-position: center;
    color: var(--white);
}

.loyalty-banner__gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.loyalty-banner--second {
    background: var(--gray-lighter);
    color: var(--graphite);
    margin-bottom: var(--space-42);
}

.loyalty-banner__label {
    position: relative;
    z-index: 2;
    color: var(--white);
    margin-bottom: var(--space-16);
    letter-spacing: 10%;
}

.loyalty-banner__label--copper {
    color: var(--copper);
}

.loyalty-banner__content {
    position: relative;
    z-index: 2;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}

.page-layout__main .loyalty-banner__title {
    color: inherit;
    margin-bottom: 0;
}

.loyalty-banner__desc {
    color: inherit;
    opacity: .8;
    margin: 0;
}

.loyalty-banner__decor {
    position: absolute;
    right: var(--space-30);
    bottom: 0;
    color: var(--gray-dark-line);
    pointer-events: none;
    user-select: none;
    font-family: var(--font3);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;    
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='260' height='202' viewBox='0 0 260 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1635 221L40.1788 217.318L216.501 -20L220.485 -16.3181L44.1635 221ZM61.7625 94.8097C53.129 94.8097 44.9383 93.4708 37.1903 90.7931C29.6637 87.8921 23.1332 83.987 17.599 79.0778C12.0647 73.9454 7.74798 67.9204 4.64879 61.0028C1.5496 53.862 0 46.1634 0 37.907C0 29.4273 1.5496 21.7287 4.64879 14.8111C7.74798 7.89352 12.0647 1.98009 17.599 -2.92917C23.1332 -8.06158 29.6637 -11.9667 37.1903 -14.6444C44.9383 -17.3222 53.129 -18.6611 61.7625 -18.6611C70.6173 -18.6611 78.808 -17.3222 86.3346 -14.6444C93.8612 -11.9667 100.392 -8.06158 105.926 -2.92917C111.46 1.98009 115.777 7.89352 118.876 14.8111C121.975 21.7287 123.525 29.4273 123.525 37.907C123.525 46.1634 121.975 53.862 118.876 61.0028C115.777 67.9204 111.46 73.9454 105.926 79.0778C100.392 83.987 93.8612 87.8921 86.3346 90.7931C78.808 93.4708 70.6173 94.8097 61.7625 94.8097ZM63.0907 89.7889C69.9532 89.7889 75.3768 88.1153 79.3614 84.7681C83.3461 81.1977 86.4453 76.8463 88.659 71.7139C90.8727 66.5815 92.3116 61.0028 92.9757 54.9778C93.6399 48.7296 93.9719 43.0394 93.9719 37.907C93.9719 33.444 93.5292 28.3116 92.6437 22.5097C91.7582 16.4847 89.9872 10.7945 87.3308 5.4389C84.8957 0.0833321 81.4645 -4.37963 77.037 -7.95C72.6096 -11.7435 66.854 -13.6403 59.7701 -13.6403C53.129 -13.6403 47.7054 -11.9667 43.4994 -8.61945C39.2933 -5.49538 36.0834 -1.47871 33.8697 3.43055C31.656 8.33981 30.2171 13.6954 29.553 19.4972C28.8889 25.0759 28.5568 30.0968 28.5568 34.5597C28.5568 40.1384 28.9996 46.1634 29.8851 52.6347C30.9919 59.106 32.8736 65.131 35.53 70.7097C38.1865 76.0653 41.7284 80.6398 46.1558 84.4333C50.8046 88.0037 56.4496 89.7889 63.0907 89.7889ZM198.238 219.996C189.604 219.996 181.413 218.657 173.665 215.979C166.139 213.078 159.608 209.173 154.074 204.264C148.54 199.131 144.223 193.106 141.124 186.189C138.025 179.048 136.475 171.35 136.475 163.093C136.475 154.613 138.025 146.915 141.124 139.997C144.223 133.08 148.54 127.166 154.074 122.257C159.608 117.125 166.139 113.219 173.665 110.542C181.413 107.864 189.604 106.525 198.238 106.525C207.092 106.525 215.283 107.864 222.81 110.542C230.336 113.219 236.867 117.125 242.401 122.257C247.935 127.166 252.252 133.08 255.351 139.997C258.45 146.915 260 154.613 260 163.093C260 171.35 258.45 179.048 255.351 186.189C252.252 193.106 247.935 199.131 242.401 204.264C236.867 209.173 230.336 213.078 222.81 215.979C215.283 218.657 207.092 219.996 198.238 219.996ZM199.566 214.975C206.428 214.975 211.852 213.301 215.837 209.954C219.821 206.384 222.92 202.032 225.134 196.9C227.348 191.768 228.787 186.189 229.451 180.164C230.115 173.916 230.447 168.225 230.447 163.093C230.447 158.63 230.004 153.498 229.119 147.696C228.233 141.671 226.462 135.981 223.806 130.625C221.371 125.269 217.94 120.806 213.512 117.236C209.085 113.443 203.329 111.546 196.245 111.546C189.604 111.546 184.18 113.219 179.974 116.567C175.768 119.691 172.559 123.707 170.345 128.617C168.131 133.526 166.692 138.881 166.028 144.683C165.364 150.262 165.032 155.283 165.032 159.746C165.032 165.325 165.475 171.35 166.36 177.821C167.467 184.292 169.349 190.317 172.005 195.896C174.662 201.251 178.203 205.826 182.631 209.619C187.28 213.19 192.925 214.975 199.566 214.975Z' fill='%23DBDBDB' /%3E%3C/svg%3E");
}


/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .loyalty-banner {
        padding: 24px var(--gutter);
        min-height: 160px;
    }

    .loyalty-banner__content {
        max-width: 100%;
    }

    .loyalty-banner__decor {
        font-size: 120px;
    }

}
